/* Medium Displays: 768px - 1279px */
@media only screen {
  /* line 8, ../scss/off-canvas.scss */
  html,
  body {
    background: #282828;
    height: 100%;
  }

  /* line 13, ../scss/off-canvas.scss */
  body.off-canvas {
    padding-top: 48px;
  }

  /* line 19, ../scss/off-canvas.scss */
  .off-canvas .gov-pull-down-container {
    position: absolute;
    top: 0;
  }
  /* line 24, ../scss/off-canvas.scss */
  .off-canvas .gov-pull-down {
    height: 40px;
    width: 44px;
  }
  /* line 29, ../scss/off-canvas.scss */
  .off-canvas .gov-bar {
    position: absolute;
    width: 100%;
  }
  /* line 34, ../scss/off-canvas.scss */
  .off-canvas .gov-bar form {
    margin: 0;
  }
  /* line 38, ../scss/off-canvas.scss */
  .off-canvas .site-bar {
    position: absolute;
    width: 100%;
  }
  /* line 43, ../scss/off-canvas.scss */
  .off-canvas .global-nav {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
  }
  /* line 51, ../scss/off-canvas.scss */
  .off-canvas .global-nav .sub-menu-title {
    display: inline-block;
    color: #AAA;
    font-size: 1.45em;
    position: relative;
    left: 20%;
    line-height: 48px;
    padding-top: 0.15em;
  }
  /* line 61, ../scss/off-canvas.scss */
  .off-canvas .global-nav .nav-container {
    height: inherit;
    overflow-y: scroll;
    border-radius: 4px;
  }
  /* line 67, ../scss/off-canvas.scss */
  .off-canvas .global-nav .nav-container > ul {
    min-height: 1000px;
  }
  /* line 71, ../scss/off-canvas.scss */
  .off-canvas .global-nav ul {
    margin-left: 16%;
  }
  /* line 75, ../scss/off-canvas.scss */
  .off-canvas .global-nav ul li {
    padding-left: 3%;
  }
  /* line 79, ../scss/off-canvas.scss */
  .off-canvas .global-nav ul ul {
    display: block;
    height: 100%;
    left: 100%;
    position: fixed;
    top: 53px;
    width: 100%;
    background: #333;
    -webkit-transition: left 0.2s ease;
    transition: left 0.2s ease;
  }
  /* line 92, ../scss/off-canvas.scss */
  .off-canvas .global-nav ul ul li {
    padding-left: 1.5%;
  }
  /* line 96, ../scss/off-canvas.scss */
  .off-canvas .global-nav .menu-controls {
    height: 53px;
  }
  /* line 100, ../scss/off-canvas.scss */
  .off-canvas .global-nav .menu-controls .menu-back {
    background-image: -webkit-linear-gradient(#999999, #505050);
    background-image: linear-gradient(#999999, #505050);
    border-radius: 5px;
    color: #FFF;
    float: right;
    margin: 10px;
    padding: 7px;
    visibility: hidden;
  }
  /* line 111, ../scss/off-canvas.scss */
  .off-canvas.active-sub-menu .global-nav .menu-controls .menu-back {
    visibility: visible;
  }
  /* line 115, ../scss/off-canvas.scss */
  .off-canvas .global-nav .active-menu {
    left: 0;
  }
  /* line 119, ../scss/off-canvas.scss */
  .off-canvas .page {
    position: relative;
    height: auto;
    min-height: 100%;
    top: 0;
    width: 100%;
  }
  /* line 131, ../scss/off-canvas.scss */
  .off-canvas .gov-pull-down,
  .off-canvas .gov-pull-down-container,
  .off-canvas .gov-bar,
  .off-canvas .site-bar,
  .off-canvas .page {
    -webkit-transition: top 0.2s ease, left 0.2s ease, height 0.2s ease;
    /* Safari and Chrome */
    transition: top 0.2s ease, left 0.2s ease, height 0.2s ease;
  }
  /* line 137, ../scss/off-canvas.scss */
  .off-canvas.active-gov-bar .gov-pull-down-container, .off-canvas.active-gov-bar .site-bar {
    top: 88px;
  }
  /* line 145, ../scss/off-canvas.scss */
  .off-canvas.active-site-menu .gov-pull-down, .off-canvas.active-site-menu .gov-pull-down-container, .off-canvas.active-site-menu .gov-bar, .off-canvas.active-site-menu .site-bar, .off-canvas.active-site-menu .page {
    position: fixed;
    left: -82%;
  }
  /* line 150, ../scss/off-canvas.scss */
  .off-canvas.active-site-menu .mobile-menu-button {
    -webkit-box-shadow: inset 6px 0px 8px -2px #000;
  }
  /* line 154, ../scss/off-canvas.scss */
  .off-canvas.active-site-menu .page {
    -webkit-box-shadow: 5px 49px 8px #000;
  }
  /* line 158, ../scss/off-canvas.scss */
  .off-canvas.active-site-menu .footer {
    left: -82%;
  }
}
/* Medium Displays: 768px - 1279px */
@media only screen and (min-width: 768px) {
  /* line 169, ../scss/off-canvas.scss */
  body.off-canvas {
    padding-top: 0;
  }

  /* line 177, ../scss/off-canvas.scss */
  .off-canvas .gov-bar,
  .off-canvas .site-bar,
  .off-canvas .global-nav,
  .off-canvas .page {
    position: relative;
  }
  /* line 184, ../scss/off-canvas.scss */
  .off-canvas.active-site-menu .gov-bar, .off-canvas.active-site-menu .site-bar, .off-canvas.active-site-menu .global-nav, .off-canvas.active-site-menu .page {
    left: auto;
    position: relative;
  }
  /* line 189, ../scss/off-canvas.scss */
  .off-canvas.active-gov-bar .site-bar {
    top: 0;
  }
  /* line 193, ../scss/off-canvas.scss */
  .off-canvas .global-nav {
    height: 46px;
    overflow: visible;
    z-index: 30;
  }
  /* line 199, ../scss/off-canvas.scss */
  .off-canvas .global-nav ul li {
    padding-left: 0;
  }
  /* line 203, ../scss/off-canvas.scss */
  .off-canvas .global-nav .menu-controls {
    display: none;
  }
  /* line 208, ../scss/off-canvas.scss */
  .off-canvas .global-nav .nav-container, .off-canvas.active-site-menu .global-nav .nav-container {
    overflow: hidden;
  }
  /* line 213, ../scss/off-canvas.scss */
  .off-canvas .global-nav .nav-container > ul, .off-canvas.active-site-menu .global-nav .nav-container ul {
    min-height: auto;
  }
  /* line 218, ../scss/off-canvas.scss */
  .off-canvas .global-nav ul, .off-canvas.active-site-menu .global-nav ul {
    margin-left: 0;
  }
  /* line 222, ../scss/off-canvas.scss */
  .off-canvas .global-nav ul ul {
    top: 46px;
    left: 0;
    position: absolute;
    visibility: hidden;
    width: 100%;
    -webkit-transition: left 0;
    transition: left 0s;
  }
  /* line 232, ../scss/off-canvas.scss */
  .off-canvas .global-nav ul ul.active-menu {
    visibility: visible;
  }
  /* line 236, ../scss/off-canvas.scss */
  .off-canvas .global-nav .active-menu li {
    padding-left: 0;
  }
  /* line 240, ../scss/off-canvas.scss */
  .off-canvas .page {
    min-height: auto;
    top: -23px;
    left: 0;
  }
}
