/* Medium Displays: 768px - 1279px */
/* line 6, ../scss/off-canvas.scss */
html,
body {
  background: #282828;
  height: 100%;
}

/* line 11, ../scss/off-canvas.scss */
body.off-canvas {
  padding-top: 48px;
}

/* line 17, ../scss/off-canvas.scss */
.off-canvas .gov-pull-down-container {
  position: absolute;
  top: 0;
}
/* line 22, ../scss/off-canvas.scss */
.off-canvas .gov-pull-down {
  height: 40px;
  width: 44px;
}
/* line 27, ../scss/off-canvas.scss */
.off-canvas .gov-bar {
  position: absolute;
  width: 100%;
}
/* line 32, ../scss/off-canvas.scss */
.off-canvas .gov-bar form {
  margin: 0;
}
/* line 36, ../scss/off-canvas.scss */
.off-canvas .site-bar {
  position: absolute;
  width: 100%;
}
/* line 41, ../scss/off-canvas.scss */
.off-canvas .global-nav {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}
/* line 49, ../scss/off-canvas.scss */
.off-canvas .global-nav .sub-menu-title {
  display: inline-block;
  color: #AAA;
  font-size: 1.45em;
  position: relative;
  left: 20%;
  line-height: 48px;
  padding-top: 0.15em;
}
/* line 59, ../scss/off-canvas.scss */
.off-canvas .global-nav .nav-container {
  height: inherit;
  overflow-y: scroll;
}
/* line 64, ../scss/off-canvas.scss */
.off-canvas .global-nav .nav-container > ul {
  min-height: 1000px;
}
/* line 68, ../scss/off-canvas.scss */
.off-canvas .global-nav ul {
  margin-left: 16%;
}
/* line 72, ../scss/off-canvas.scss */
.off-canvas .global-nav ul li {
  padding-left: 3%;
}
/* line 76, ../scss/off-canvas.scss */
.off-canvas .global-nav ul ul {
  background: #333 !important;
  display: block;
  height: 100%;
  left: 100%;
  position: fixed;
  top: 53px;
  width: 100%;
  background: #333;
  -webkit-transition: left 0.2s ease;
  transition: left 0.2s ease;
}
/* line 89, ../scss/off-canvas.scss */
.off-canvas .global-nav ul ul li {
  padding-left: 2% !important;
}
/* line 93, ../scss/off-canvas.scss */
.off-canvas .global-nav .menu-controls {
  height: 53px;
}
/* line 97, ../scss/off-canvas.scss */
.off-canvas .global-nav .menu-controls .menu-back {
  background-image: -webkit-linear-gradient(#999999, #505050);
  background-image: linear-gradient(#999999, #505050);
  border-radius: 5px;
  color: #FFF;
  float: right;
  margin: 10px;
  padding: 7px 7px 7px 1px;
  visibility: hidden;
}
/* line 108, ../scss/off-canvas.scss */
.off-canvas.active-sub-menu .global-nav .menu-controls .menu-back {
  visibility: visible;
}
/* line 112, ../scss/off-canvas.scss */
.off-canvas .global-nav .active-menu {
  left: 0;
}
/* line 116, ../scss/off-canvas.scss */
.off-canvas .page {
  position: relative;
  height: auto;
  min-height: 100%;
  top: 0;
  width: 100%;
}
/* line 128, ../scss/off-canvas.scss */
.off-canvas .gov-pull-down,
.off-canvas .gov-pull-down-container,
.off-canvas .gov-bar,
.off-canvas .site-bar,
.off-canvas .page {
  -webkit-transition: top 0.2s ease, left 0.2s ease, height 0.2s ease;
  /* Safari and Chrome */
  transition: top 0.2s ease, left 0.2s ease, height 0.2s ease;
}
/* line 134, ../scss/off-canvas.scss */
.off-canvas.active-gov-bar .gov-pull-down-container, .off-canvas.active-gov-bar .site-bar {
  top: 88px;
}
/* line 142, ../scss/off-canvas.scss */
.off-canvas.active-site-menu .gov-pull-down, .off-canvas.active-site-menu .gov-pull-down-container, .off-canvas.active-site-menu .gov-bar, .off-canvas.active-site-menu .site-bar, .off-canvas.active-site-menu .page {
  position: fixed;
  left: -82%;
}
/* line 147, ../scss/off-canvas.scss */
.off-canvas.active-site-menu .mobile-menu-button {
  -webkit-box-shadow: inset 6px 0px 8px -2px #000;
}
/* line 151, ../scss/off-canvas.scss */
.off-canvas.active-site-menu .page {
  -webkit-box-shadow: 5px 49px 8px #000;
}
/* line 155, ../scss/off-canvas.scss */
.off-canvas.active-site-menu .footer {
  left: -82%;
}

@media only screen and (min-width: 60em) {
  /* line 163, ../scss/off-canvas.scss */
  .global-nav .nav-container {
    border-radius: 4px;
  }
}
/* Medium Displays: 768px - 1279px */
@media only screen and (min-width: 768px) {
  /* line 171, ../scss/off-canvas.scss */
  body.off-canvas {
    padding-top: 0;
  }

  /* line 179, ../scss/off-canvas.scss */
  .off-canvas .gov-bar,
  .off-canvas .site-bar,
  .off-canvas .global-nav,
  .off-canvas .page {
    position: relative;
  }
  /* line 186, ../scss/off-canvas.scss */
  .off-canvas.active-site-menu .gov-bar, .off-canvas.active-site-menu .site-bar, .off-canvas.active-site-menu .global-nav, .off-canvas.active-site-menu .page {
    left: auto;
    position: relative;
  }
  /* line 191, ../scss/off-canvas.scss */
  .off-canvas.active-gov-bar .site-bar {
    top: 0;
  }
  /* line 195, ../scss/off-canvas.scss */
  .off-canvas .global-nav {
    height: 46px;
    overflow: visible;
    z-index: 30;
  }
  /* line 201, ../scss/off-canvas.scss */
  .off-canvas .global-nav ul li {
    padding-left: 0;
  }
  /* line 205, ../scss/off-canvas.scss */
  .off-canvas .global-nav .menu-controls {
    display: none;
  }
  /* line 210, ../scss/off-canvas.scss */
  .off-canvas .global-nav .nav-container, .off-canvas.active-site-menu .global-nav .nav-container {
    overflow: hidden;
  }
  /* line 215, ../scss/off-canvas.scss */
  .off-canvas .global-nav .nav-container > ul, .off-canvas.active-site-menu .global-nav .nav-container ul {
    min-height: auto;
  }
  /* line 220, ../scss/off-canvas.scss */
  .off-canvas .global-nav ul, .off-canvas.active-site-menu .global-nav ul {
    margin-left: 0;
  }
  /* line 224, ../scss/off-canvas.scss */
  .off-canvas .global-nav ul ul {
    background: #454545 !important;
    /* M */
    border-radius: 4px !important;
    top: 50px !important;
    position: absolute;
    overflow: hidden;
    visibility: hidden;
    -webkit-transition: left 0;
    transition: left 0s;
  }
  /* line 235, ../scss/off-canvas.scss */
  .off-canvas .global-nav ul ul.active-menu {
    visibility: visible;
  }
  /* line 239, ../scss/off-canvas.scss */
  .off-canvas .global-nav ul ul.active-menu li {
    padding: 0 !important;
  }
  /* line 243, ../scss/off-canvas.scss */
  .off-canvas .global-nav .active-menu li {
    padding-left: 0;
    border-bottom: 0;
  }
  /* line 248, ../scss/off-canvas.scss */
  .off-canvas .global-nav .active-menu li a {
    border-radius: 4px;
    background: #454545 !important;
  }
  /* line 253, ../scss/off-canvas.scss */
  .off-canvas .page {
    min-height: auto;
    top: -23px;
    left: 0;
  }
}
