  .gov-bar input[type=search] {
    height: 37px;
  }
  /* line 154, ../scss/excelsior/components/_navigation.scss */
  .gov-bar input[type=submit] {
    border: 1px solid #666;
    border-left: 0;
    height:37px;
    line-height: 37px;
    margin-top:0;

  }


@media only screen and(min-width:47em) {
  .gov-bar input[type=search] {
    height: 25px;
  }
  /* line 154, ../scss/excelsior/components/_navigation.scss */
  .gov-bar input[type=submit] {
    height: 23px;
    line-height: 2em;
    margin-top: 1px;
  }
