/**
 * Excelsior Site-Wide Styles
 *
 * These will eventually move to /scss/_excelsior.scss or a component file
*/



.row {
  padding-bottom:1em;
}

.list li {
  margin-bottom:.75em;
  display: table;
  border-collapse: collapse;
  width: 100%;
}
.inner {
  display: table-row;
  overflow: hidden;
}
.li-img {
  display: table-cell;
  vertical-align: top;
  width: 30%;
  padding-right: 0.5em;
}
.li-img img {
  display: block;
  width: 100%;
  height: auto;
}
.li-text {
  display: table-cell;
  vertical-align: top;
  width: 70%;
  padding-right: 7%;
}
.li-head {
  margin: 0;
}
.li-sub {
  margin: 0;
}




.news{
  margin: 0.3em 0.8em;
  border-radius: 8px;
  background: #5082b3;
}
.news strong{
  font-weight: bold;
  font-family: verdana;
}
.news img{
  vertical-align: text-top;
}
.news dl{
  background: #eee;
  text-align: left;
  padding: 0.5em 0.3em;
  margin: 0;
}
.news dt{
  font-family: verdana;
  font-size: 0.688em;
  font-weight: normal;
  margin: 0;
  line-height: 1.4em;
  padding-bottom: 0.5em;
}
.news a{
  color: #036;
}
.news a:hover{
  color: #873939;
  text-decoration: underline;
}
.whatsnew{
  padding: 0.2em;
  text-transform: uppercase;
  font-family: cambria;
  color: #fff;
}
