@media only screen {
	.swatch {
		border: 1px solid #3c3c3c;
		display: inline-block;
		height: 16px;
		width: 16px;
		position: absolute;
		margin-left: 25px;
		left: 0;
	}

	.safari {
		background: #0088cc;
	}

	.opera {
		background: #fbb450;
	}

	.android {
		background: #62c462;
	}

	.symbian {
		background: #555;
	}

	.blackberry {
		background: #ee5f5b;
	}

	caption {
		margin-bottom: 10px;rt
	}

	table tbody tr th {
		padding-left: 20px;
	}
}

@media only screen and (max-width: 48em) {
	
	.graph-table {
		margin-top: 25px;
	}

}