@media only screen {
	.swatch {
		border: 1px solid #3c3c3c;
		display: inline-block;
		height: 16px;
		width: 16px;
		position: absolute;
		margin-left: 10px;
		margin-top: -1px;
	}

	.year-2012 {
		background: #DCDCDC;
	}

	.year-2013 {
		background: #97BBCD;
	}

	caption {
		margin-bottom: 10px;rt
	}
}

@media only screen and (max-width: 48em) {
	
	.graph-table {
		margin-top: 25px;
	}

}