<!DOCTYPE html>
<html>
    <head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
		<title>Slide-Out Menu</title>
		<link rel="stylesheet" href="css/excelsior.css">
		<link rel="stylesheet" href="css/styles.css">
		<link rel="stylesheet" href="css/off-canvas.css">
		<script src="js/vendor/custom.modernizr.js"></script>
    </head>
    <body>
		<a href="#global-nav" class="skip-to">Skip to Navigation</a>
		<a href="#page" class="skip-to">Skip to Content</a>
		<div class="gov-pull-down-container show-for-small">
		<a href="#" id="gov-pull-down" class="gov-pull-down show-for-small" data-active="active-gov-bar">
		  Open New York State Search
		</a>
		</div>
		<div id="gov-bar" class="gov-bar">
			<div class="gov-wrap">
			  <div class="state-links">
			    <a href="#" class="gov-link-1">
			      New York State
			    </a>
			    <a href="#" class="gov-link-2">
			      State Agencies
			    </a>
			  </div>
			  <a href="#" id="gov-link-3" class="gov-link-3">
			    Search all of NY.gov
			  </a>
			  <form action="/">
			    <fieldset>
			      <legend>Legend</legend>
			      <label for="site-search-box">Search</label>
			      <div class="search-container">
			        <input type="search" />
			        <input type="submit" value="Search NY"  />
			      </div>
			    </fieldset>
			  </form>
			</div>
		</div>
        {{ content }}

    </body>
</html>
