<!DOCTYPE html>
<html>
    <head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
		<title>Slide-Out Menu</title>
		<link rel="stylesheet" href="css/excelsior.css">
		<link rel="stylesheet" href="css/styles.css">
		<link rel="stylesheet" href="css/off-canvas.css">

		<!-- Fav icon -->
		  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/apple-touch-icon-144x144-precomposed.png">
		  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/apple-touch-icon-114x114-precomposed.png">
		  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/apple-touch-icon-72x72-precomposed.png">
		  <link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon-57x57-precomposed.png">
		  <link rel="shortcut icon" href="images/apple-touch-icon.png">
		  <link rel="icon" href="images/favicon.ico">

		<script src="js/vendor/custom.modernizr.js"></script>
    </head>
    <body class="off-canvas">
		<a href="#global-nav" class="skip-to">Skip to Navigation</a>
		<a href="#page" class="skip-to">Skip to Content</a>
		<div class="gov-pull-down-container show-for-small">
		<a href="#" id="gov-pull-down" class="gov-pull-down show-for-small" data-active="active-gov-bar">
		  Open New York State Search
		</a>
		</div>
		<div id="gov-bar" class="gov-bar">
			<div class="gov-wrap">
			  <div class="state-links">
			    <a href="#" class="gov-link-1">
			      New York State
			    </a>
			    <a href="#" class="gov-link-2">
			      State Agencies
			    </a>
			  </div>
			  <a href="#" id="gov-link-3" class="gov-link-3">
			    Search all of NY.gov
			  </a>
			  <form action="/">
			    <fieldset>
			      <legend>Legend</legend>
			      <label for="site-search-box">Search</label>
			      <div class="search-container">
			        <input type="search" />
			        <input type="submit" value="Search NY"  />
			      </div>
			    </fieldset>
			  </form>
			</div>
		</div>
		<div id="site-bar" class="site-bar">
			<div class="site-wrap">
			  <a href="../index.html" class="site-logo">
			    NYS State Agency
			  </a>
			  <div class="site-functions">
			    <ul class="mobile-functions">
			      <li><a href="#" id="mobile-site-search" class="mobile-icons mobile-search-button" data-active="active-site-search">Search Toggle</a></li>
			      <li><a href="#" id="mobile-site-menu" class="mobile-icons mobile-menu-button" data-active="active-site-menu">Menu Toggle</a></li>
			    </ul>
			    <!-- Link to show the menu -->
			    <div class="site-search">
			      <form action="/">
			        <fieldset>
			          <legend>Legend</legend>
			          <label for="site-search-box">Search</label>
			          <div class="search-container">
			            <input type="search" id="site-search-box" class="site-search-box" />
			            <div class="site-button">
			              <input type="submit" class="site-search-button" value="Search Agency"  />
			            </div>
			          </div>
			        </fieldset>
			      </form>
			    </div>
			  </div>
			</div>
		</div>
		<nav id="global-nav" class="global-nav">
			<div class="nav-container">
			  <ul>
			    <li><a href="#" class="icon-sub-content">Menu Item 1</a>
			      <ul>
			        <li><a href="#">Sub-Menu Item 1.1</a></li>
			        <li><a href="#">Sub-Menu Item 1.2</a></li>
			        <li><a href="#">Sub-Menu Item 1.3</a></li>
			        <li><a href="#">Sub-Menu Item 1.4</a></li>
			        <li><a href="#">Sub-Menu Item 1.5</a></li>
			      </ul>
			    </li>
			    <li><a href="#" class="icon-sub-content">Menu Item 2</a>
			      <ul>
			        <li><a href="#">Sub-Menu Item 2.1</a></li>
			        <li><a href="#">Sub-Menu Item 2.2</a></li>
			        <li><a href="#">Sub-Menu Item 2.3</a></li>
			        <li><a href="#">Sub-Menu Item 2.4</a></li>
			        <li><a href="#">Sub-Menu Item 2.5</a></li>
			      </ul>
			    </li>
			    <li><a href="#">Menu Item 3</a></li>
			    <li><a href="#">Menu Item 4</a></li>
			    <li><a href="#">Menu Item 5</a></li>
			    <li><a href="#">Menu Item 6</a></li>
			    <li><a href="#">Menu Item 7</a></li>
			  </ul>
			</div>
		</nav>
		<div id="page" class="page">
			<div class="content-section">
        		{{ content }}
			</div>
			<footer role="contentinfo" class="footer">
				<div class="footer-contents">
					Test Content
				</div>
			</footer>
		</div>

	  <script src="js/vendor/jquery.js"></script>
	  <script src="js/app/app.js"></script>
	  <script src="js/app/off-canvas.js"></script>
	  <script src="js/foundation/foundation.js"></script>

		{% for script in page.vendorScripts %}
			<script src="js/{{ script }}.js"></script>
		{% endfor %}

	  <script>$(document).foundation();</script>

    </body>
</html>
