<!DOCTYPE html>
<html>
    <head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
		<title>{{page.title}}</title>
		<link rel="stylesheet" href="css/excelsior.css">
		<link rel="stylesheet" href="css/styles.css">
		<link rel="stylesheet" href="css/off-canvas.css">
		<link rel="stylesheet" href="css/site/site.css">

		{% for styles in page.customStyles %}
			<link rel="stylesheet" href="css/site/{{ styles }}.css">
		{% endfor %}

		<!-- Fav icon -->
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/apple-touch-icon-144x144-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/apple-touch-icon-114x114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/apple-touch-icon-72x72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon-57x57-precomposed.png">
		<link rel="shortcut icon" href="images/apple-touch-icon.png">
		<link rel="icon" href="images/favicon.ico">

		<script src="js/vendor/custom.modernizr.js"></script>
    </head>
    <body class="off-canvas">
		<a href="#global-nav" class="skip-to">Skip to Navigation</a>
		<a href="#page" class="skip-to">Skip to Content</a>
		<div class="gov-pull-down-container show-for-small">
		<a href="#" id="gov-pull-down" class="gov-pull-down show-for-small" data-active="active-gov-bar">
		  Open New York State Search
		</a>
		</div>
		<div id="gov-bar" class="gov-bar">
			<div class="gov-wrap">
			  <div class="state-links">
			    <a href="#" class="gov-link-1">
			      New York State
			    </a>
			    <a href="#" class="gov-link-2">
			      State Agencies
			    </a>
			  </div>
			  <a href="#" id="gov-link-3" class="gov-link-3">
			    Search all of NY.gov
			  </a>
			  <form action="/">
			    <fieldset>
			      <legend>Legend</legend>
			      <label for="site-search-box">Search</label>
			      <div class="search-container">
			        <input type="search" />
			        <input type="submit" value="Search NY"  />
			      </div>
			    </fieldset>
			  </form>
			</div>
		</div>
		<div id="site-bar" class="site-bar">
			<div class="site-wrap">
			  <a href="index.html" class="site-logo">
			    Go Responsive
			  </a>
			  <div class="site-functions">
			    <ul class="mobile-functions">
			      <li><a href="#" id="mobile-site-search" class="mobile-icons mobile-search-button" data-active="active-site-search">Search Toggle</a></li>
			      <li><a href="#" id="mobile-site-menu" class="mobile-icons mobile-menu-button" data-active="active-site-menu">Menu Toggle</a></li>
			    </ul>
			    <!-- Link to show the menu -->
			    <div class="site-search">
			      <form action="/">
			        <fieldset>
			          <legend>Legend</legend>
			          <label for="site-search-box">Search</label>
			          <div class="search-container">
			            <input type="search" id="site-search-box" class="site-search-box" />
			            <div class="site-button">
			              <input type="submit" class="site-search-button" value="Search Agency"  />
			            </div>
			          </div>
			        </fieldset>
			      </form>
			    </div>
			  </div>
			</div>
		</div>
		<nav id="global-nav" class="global-nav">
			<div class="nav-container">
			  <ul>
			  	<ll>
			  		<a href="#">Home</a>
			  	</li>
			    <li><a href="#" class="icon-sub-menu">Media</a>
			      <ul>
			        <li><a href="carousel.html">Carousel</a></li>
			        <li><a href="lightbox.html">Lightbox</a></li>
			        <li><a href="media-list.html">Media List</a></li>
			        <li><a href="thumbnail-list.html">Thumbnails</a></li>
			      </ul>
			    </li>
			    <li><a href="#" class="icon-sub-menu">Accessibility</a>
			      <ul>
					<li><a href="buttons.html">Buttons</a></li>
			        <li><a href="easy-tap-links.html">Easy-Tap Links</a></li>
			        <li><a href="forms.html">Forms</a></li>
			        <li><a href="touch-actions.html">Touch Actions</a></li>
			      </ul>
			    </li>
			    <li><a href="#" class="icon-sub-menu">Interactive Data</a>
			      <ul>
			        <li><a href="adaptive-tables.html">Adaptive Tables</a></li>
			        <li><a href="geo-location.html">Geo-Location</a></li>
			        <li><a href="charting.html">Responsive Line Charts</a></li>
			        <li><a href="charting-pie.html">Responsive Pie Charts</a></li>
			      </ul>
			    </li>
			    <li><a href="#" class="icon-sub-menu">Flexible Content</a>
			      <ul>
			        <li><a href="accordion-n-tabs.html">Accordions and Tabs</a></li>
			        <li><a href="block-to-stack.html">Block to Stack</a></li>
			        <li><a href="overlay-windows.html">Overlay Windows</a></li>
			      </ul>
			    <li><a href="#" class="icon-sub-menu">Navigation</a>
			      <ul>
			        <li><a href="off-canvas.html">Slide-Out Menu</a></li>
			        <li><a href="toggle-menu.html">Slide-Down Menu</a></li>
			      </ul>
			    </li>
			    </li>
			  </ul>
			</div>
		</nav>
		<div id="page" class="page">
			<div class="content-section">
        		{{ content }}
			</div>
			<footer role="contentinfo" class="footer">
				<div class="footer-contents">
					{% include footer.html %}
				</div>
			</footer>
		</div>

		<script src="js/vendor/jquery.js"></script>
		<script src="js/app/app.js"></script>
		<script src="js/app/off-canvas.js"></script>
		<script src="js/foundation/foundation.js"></script>

		{% for script in page.vendorScripts %}
			<script src="js/{{ script }}.js"></script>
		{% endfor %}

		{% for scripts in page.customScripts %}
			<script src="{{ scripts }}"></script>
		{% endfor %}

		<script src="js/site/site.js"></script>
		<script>$(document).foundation();</script>

		<script src="js/app/demo-bar.js"></script>

		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-39880511-1']);
		  _gaq.push(['_trackPageview']);
		  _gaq.push(['_setDomainName', window.location.host ]);
		  
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>

    </body>
</html>
